:root {
  --primary-color: #dd3b24;
  --secondary-color: #333333;
  --secondary-color-light: #929292;
  --background-color: #f8f8f8;
  --primary-font: "DM Serif Display", serif;
  --secondary-font: "DM Sans", sans-serif;
}

body {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  background-color: var(--background-color);
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 5px;
  position: fixed;
  background-color: var(--background-color);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.nav-link {
  padding: 20px;
}

.active {
  border: none;
  text-decoration: underline var(--primary-color) 6px;
}

.underline {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  text-transform: capitalize;
  text-decoration-skip-ink: none;
  text-underline-offset: 8px;
  padding: 0;
  margin-bottom: 40px;
  transition: all 150ms ease-in-out;
}

.underline:hover {
  text-decoration: underline var(--primary-color) 6px;
}

h1 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 46px;
}

h2 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 22px;
}

.hero {
  text-align: center;
  height: 100vh;
  padding: 0 30px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 238, 238, 1) 100%
  );
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.hero h1 {
  font-size: 96px;
}

.hero h2 {
  font-family: var(--secondary-font);
  font-weight: 200;
  font-size: 30px;
}

.hero h3 {
  font-family: var(--primary-font);
  font-size: 34px;
}

.text-section h2 {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
}

.top-section {
  padding: 120px 0 40px 0;
}

.profile-picture {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.card-title {
  font-family: var(--primary-font);
}

.contact-link {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 66px;
  }

  .hero h2 {
    font-size: 26px;
  }

  .hero h3 {
    size: 30px;
  }

  .top-section,
  .text-section {
    text-align: center;
  }
}
