:root {
  --primary-color: #dd3b24;
  --secondary-color: #333333;
  --secondary-color-light: #929292;
  --background-color: #f8f8f8;
  --primary-font: "DM Serif Display", serif;
  --secondary-font: "DM Sans", sans-serif;
}

body {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  background-color: var(--background-color);
}

h1,
h2 {
  color: var(--primary-color);
  font-family: var(--primary-font);
}

h3 {
  font-size: 30px;
}

.hero {
  text-align: center;
  padding: 240px 20px;
}

.hero h1 {
  font-size: 104px;
  font-weight: 700;
}

.hero h2 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 400;
}

.content-section {
  padding: 120px 0;
}

.content-section h1 {
  font-size: 46px;
  font-weight: 700;
}

.content-section h2 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 22px;
}

.btn-own-link,
.btn-own-launch {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: var(--background-color);
  box-shadow: rgba(51, 51, 51, 0.15) 0px 3px 3px 0px;
}

.btn-own-link {
  padding: 15px 30px;
  margin: 10px;
}

.btn-own-launch {
  padding: 15px;
}

.btn-own-link:hover,
.btn-own-launch:hover {
  color: var(--background-color);
  background-color: var(--primary-color);
}

main h2 {
  font-size: 36px;
  font-weight: 700;
}

.card-title {
  font-family: var(--primary-font);
}

/* img {
  width: 75%;
  display: block;
  margin: 0 auto;
} */

@media (max-width: 576px) {
  .hero {
    padding: 70px;
  }

  .hero h1 {
    font-size: 52px;
  }

  .hero h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 20px;
  }

  .project-description {
    text-align: center;
  }

  .homepage-links {
    display: none;
  }

  .btn-own-launch {
    display: block;
  }
}

@media (max-width: 768px) {
  .content-section {
    text-align: center;
    padding: 40px 0;
  }
}
